<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/ife-header.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <h1 data-aos="fade-up" data-aos-delay="100"> About Us</h1>

        </div>
      </div>
    </div>

  </div>
<!-- END slider -->
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 blog-content">
        <h3 class="mb-4">  ABOUT  </h3>

        <p class="">
        This website was designed by Mbadugha A, a student of Obafemi Awolowo University as a final year project but it serves the purpose of more than a final year project.
      </p>

      <p>
        Nigeria is often overlooked where tourism is concerned and even worse, it’s like little cities like Ile-Ife does not exist when one finally decides to tour in Nigeria, but that should not be so.
      </p>

      <p>
        Ile-Ife is a rich city that boasts of rich, once-in-a-lifetime events and histories and this is the birthplace and mother of all Yoruba lands. There is a lot to learn, see and explore in this city and this website is here to make your journey into a whole new universe easier and faster.
      </p>

        <h3 class="mb-4">  TRANSPORT </h3>
        <p class="">
          The transportation in this city is very affordable and the main source of transport here asides from private cars are buses, motorcycles and cabs.
      </p>
      <p>
        These modes of transportation can be gotten anywhere in the city from 6am till 11pm at least and in some areas, later.
      </p>
      <p>
        There are also personal cab services that one can call or contact to hire a cab and the information of the most popular and fastest private cab hiring can be gotten
         <a href="https://www.facebook.com/Kingscab%20/" target="_blank"> HERE </a> .
      </p>


      <h3 class="mb-4">  CURRENCY AND COST </h3>
      <p class="">

        The currency used in Ile-Ife is strictly naira.
          </p>
    <p>
      These modes of transportation can be gotten anywhere in the city from 6am till 11pm at least and in some areas, later.

    </p>
    </div>
  </div>
</section>
