
    <section class="section  pt-5 top-slant-white2 relative-higher bottom-slant-gray">
      <h1 class="text-center"> Welcome to your dashboard, Tonia </h1>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <form action="/contact" method="post">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="title">Title</label>
                  <input type="text"  class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="title">Introductory Text</label>
                  <input type="text"  class="form-control ">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Upload Image</label>
                  <input type="file" id="email" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Map Url</label>
                  <input type="url" id="" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">Content</label>
                  <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Create Post" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-6 pl-2 pl-lg-5">

            <div class="sidebar-box">
              <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
              <h3>About The Author</h3>
              <p> I really don't know much about you, so I can't come up with anything that should be here. But should incase you have a lot to write, I'll add a read more button below... There you go!</p>
              <p><a href="#" class="btn btn-primary btn-sm">Edit Profile</a></p>
            </div>


          </div>
        </div>
      </div>

    </section>
