
<div class="err-bg">
  <h1 class="text-white text-center err-mgggg"> 404 </h1>
  <h2 class="text-white text-center "> THE PAGE YOU ARE LOOKING FOR COULD NOT BE FOUND</h2>
  <!-- <h2>{{error.status}}</h2> -->

</div>


<!-- <pre>{{error.stack}}</pre> -->
