<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/bronze head_1.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100">The Ife Bronze</h1>

        </div>
      </div>
    </div>

  </div>
<!-- END slider -->
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">The Ife Bronze</h3>
        <p class="lead">
          This is called the “Ife Head” or “The Bronze Head from Ife” and it is a very vintage sculpture that was unearthed in 1938 at the Wunmonije Compound in Ile-Ife, Osun state. </p>

        <p><img src="images/bronze head_1.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          The head is believed to be the sculpture of a king or an ooni as they call them in these parts. The sculpture was so professionally and expertly done that its realism and sophisticated pattern really defied the Western beliefs of the African art at that time. It is believed that the bronze status is one of the best in the world and a year after its finding, the original bronze sculpture was taken to the British Museum.
        </p>
        <p>
          But not to be deterred because a wonderful caricature of the head was replicated and it is now kept in Ile-Ife, Osun state along the Mayfair roundabout.
        </p>
        <p>
          The head is approximately 35cm high and was made with heavily leaded zinc-brass. The head is so fascinating because it was designed in a very natural style, like the sculptor was in tune with the universe while he was making it. The face of the sculpture is covered with some tribal marks but the lips are unscarred.

        </p>
        <p>
          The lifelike rendering of sculptures from mediaeval Ife is exceptional in sub-Saharan African art, and initially was considered the earliest manifestation of a tradition that continued in Yoruba art, in early Benin art and other pieces.
        </p>
        <p>
          This sculpture is very beautiful and is a sight that must be beheld if one decides to visit the shores of Ile-Ife.
        </p>
        <div class="pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.781501035882!2d4.530206214185955!3d7.489361313260271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103837c9ea7dac19%3A0x31880368c4615014!2sMayfair%20Roundabout!5e0!3m2!1sen!2sng!4v1580562806093!5m2!1sen!2sng" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p>
            This website was designed by Mbadugha A, a student of Obafemi Awolowo University as a final year project but it serves the purpose of more than a final year project.  </p>
            <hr>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ife Bronze.</h3>
          <p>
            The Ife Head was the symbol for the 1973 All-Africa Games in Lagos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
