    <!-- END header -->

    <div class="slider-wrap">
      <section class="home-slider owl-carousel">


        <div class="slider-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/ife-header.jpg');">

          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
              <div class="col-md-8 text-center col-sm-12 ">
                <h1 data-aos="fade-up">Welcome to Ile-ife.</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Our stunning landscapes and friendly locals are closer than you think. Wake up in a place where something new awaits you every day.</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="#destinations" class="btn btn-white btn-outline-white">Explore</a></p>
              </div>
            </div>
          </div>

        </div>

        <div class="slider-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/ife-2.jpg');">
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
              <div class="col-md-8 text-center col-sm-12 ">
                <h1 data-aos="fade-up">The Land Of Virtue</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Enter a world of extra-ordinary experiences.</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="#destinations" class="btn btn-white btn-outline-white">Explore</a></p>
              </div>
            </div>
          </div>

        </div>

      </section>
    <!-- END slider -->
    </div>


    <section class="section bg-light py-5  bottom-slant-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
            <span class="wrap-icon"><span class="fa fa-road d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Driving </h3>
            <p>
                It's easy to get around in Ile-Ife.
 </p>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
            <span class="wrap-icon"><span class="fa fa-hotel d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Accomodations</h3>
            <p>Options available to suit all budgets and travel styles.</p>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
            <span class="wrap-icon"><span class="fa fa-bus d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Transport </h3>
            <p>
              Hire a vehicle, or  hop on a bus. getting around is easy.</p>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
            <span class="wrap-icon"><span class="fa fa-money d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Currency and costs</h3>
            <p>Find out what travel costs in Ile- Ife to help you plan your trip.</p>
          </div>
        </div>
      </div>
    </section>



    <section class="section pb-0">
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade">
            <div class="col-md-7 text-center heading-wrap">
              <h2 data-aos="fade-up">About Ile-Ife</h2>
              <p data-aos="fade-up" data-aos-delay="100">The Yorubas worldwide trace their roots to Ile-Ife – a town situated in Osun State, South-West Nigeria. Ile-Ife is regarded as the holy city of the Yoruba people.
                Ile-Ife appears in myths as the birthplace of creation and the location where the first humans took form.</p>
            </div>
          </div>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <img src="images/abt-1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
          </div>
          <div class="col-lg-4">
            <img src="images/abt-2.jpeg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
            <img src="images/abt-4.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
          </div>
          <div class="col-lg-4">
            <img src="images/abt-3.jpeg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
          </div>
        </div>
      </div>
    </section>

    <section class="section " id="destinations">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid mb-5">
          <div class="row" data-aos="fade">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Tourist Attractions</h2>
            </div>
          </div>
        </div>
        <div class="owl-carousel centernonloop">
          <a href="/Oranmiyan" class="item-attractions" data-aos="fade-right" data-aos-delay="100">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading">The Oranmiyan Staff</h2>
            </div>
            <img src="/images/oranmiyan.jpg" alt="" class="img-fluid tourist-attrac">
          </a>
           <a href="/ife-bronze" class="item-attractions" data-aos="fade-right" data-aos-delay="100">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading">The Ife Bronze</h2>
            </div>
            <img src="/images/bronze head_1.jpg" alt="" class="img-fluid tourist-attrac">
          </a>
           <a href="/museum-of-national-history" class="item-attractions" data-aos="fade-right" data-aos-delay="100">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading">The Museum of National History</h2>
            </div>
            <img src="/images/National history museum.jpg" alt="" class="img-fluid">
          </a>
          <a href="/moremi" class="item-attractions" data-aos="fade-right" data-aos-delay="200">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> The Moremi Stature</h2>
            </div>
            <img src="/images/moremi-ajasoro-.jpg"  alt="" class="img-fluid">
          </a>
          <a href="/obafemi-awolowo-university" class="item-attractions" data-aos="fade-right" data-aos-delay="300">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> Obafemi Awolowo University</h2>
            </div>
            <img src="/images/obafemi awolowo university.png"  alt="" class="img-fluid">
          </a>
          <a href="/oonis-Palace" class="item-attractions" data-aos="fade-right" data-aos-delay="500">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> Ooni's Palace</h2>
            </div>
            <img src="/images/Ooni of Ife palace.jpg"  alt="" class="img-fluid">
          </a>
          <a href="/ife-resort" class="item-attractions" data-aos="fade-right" data-aos-delay="600">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> Ile Ife Resort</h2>
            </div>
            <img src="/images/ife grand resort 2.jpg"  alt="" class="img-fluid">
          </a>
          <a href="/erin-ijesha" class="item-attractions" data-aos="fade-right" data-aos-delay="400">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> Erin Ijesha Water Fall.</h2>
            </div>
            <img src="/images/erin ijesha waterfall 1.jpg"  alt="" class="img-fluid">
          </a>
          <a href="/national-museum" class="item-attractions" data-aos="fade-right" data-aos-delay="400">
            <div class="text">
              <p class="attractions-price">Explore</p>
              <h2 class="attractions-heading"> National Museum</h2>
            </div>
            <img src="/images/National museum ile ife.jpg"  alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </section> <!-- .section -->

    <section  id="hotels" class="section bg-light  top-slant-white bottom-slant-gray">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row" data-aos="fade">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Hotels in Ife</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipMnulB05Sv8oGnkqn6rxrlJXcIrUzOM3mIIfKJS=w529-h298-k-no');" data-aos="fade"></div>
              <div class="text order-1">
                <h3> <a target="_blank" class="link-" href="https://www.hotels.com/ho698026/cameron-hotels-limited-ife-nigeria/"> Cameron Hotels Limited </a></h3>
                <p>Ibadan road, Ile-Ife.</p>
                <p class="text-primary h3">₦13,000.00</p> <small>per night</small>
              </div>

            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('https://images.trvl-media.com/hotels/32000000/31930000/31928300/31928279/7b35a488_z.jpg');" data-aos="fade"></div>
              <div class="text">
                <h3> <a target="_blank" class="link-" href="https://www.hotels.com/ho1022704928/hilton-hotels-ile-ife-ife-nigeria/"> Hilton Hotels  </a></h3>
                <p>Hilton Road,Ile-Ife.</p>
                <p class="text-primary h3"> ₦11,000.00</p> <small>per night</small>

              </div>

            </div>

          </div>

          <div class="col-md-6">
            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipNUhK5-Mj-GFxLofE8WEXUJZix0LLjr3RgXE6zO=s580-k-no-pi-10-ya110.99999-ro0-fo100');" data-aos="fade"></div>
              <div class="text order-1">
                <h3> <a target="_blank" class="link-" href="https://www.hotels.com/ho1389872384/oau-conference-centre-guest-houses-ltd-ife-nigeria/"> OAU Conference Centre and Guest House Ltd.  </a></h3>

                <p>Road 8, Ile-Ife, Osun State.</p>
                <p class="text-primary h3">₦12,000.00</p> <small>per night</small>

              </div>

            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipNVVo_dCaFqLk-yyZ88uFEdTrKrnlhnTnye1UJV=w408-h306-k-no');" data-aos="fade"></div>
              <div class="text">
                <h3> <a target="_blank" class="link-" href="
                  https://hotels.ng/hotel/85321-celebration-hotel-osun
                  ">Celebration Hotels  </a></h3>

                  <h3></h3>
                <p>Cottage-Aisu Rd, Osun State.</p>
                <p class="text-primary h3">₦6,750.00</p> <small>per night</small>
              </div>

            </div>

          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipPCSs8kGWse3isMQEhmi6XMZdGGx0kxOXIqiCAm=w415-h240-k-no');" data-aos="fade"></div>
              <div class="text order-1">
                <h3> <a target="_blank" class="link-" href="
                  https://hotels.ng/hotel/97471-kriscourt-hospitality-limited-osun
                  ">KrisCourt Hotels  </a></h3>
                <p>1 Hezekiah Oluwasanmi Road, Ife.</p>
                <p class="text-primary h3">₦20,000.00</p> <small>per night</small>
              </div>

            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipMMH1yfD9MU2LD2T6l90_2OZvWZnYmL1IsOWAu8=w408-h544-k-no');" data-aos="fade"></div>
              <div class="text">
                <h3> <a target="_blank" class="link-" href="
                  https://hotels.ng/hotel/97471-kriscourt-hospitality-limited-osun
                  "> New Diganga Hotel   </a></h3>

                <p>Ibadan Express road, Ife.</p>
                <p class="text-primary h3">₦7,000.00</p> <small>per night</small>
              </div>

            </div>

          </div>

          <div class="col-md-6">
            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipMqhBALbp5lklyc8BmH4mRp1RXieGh4Z9v7HbfW=w408-h306-k-no');" data-aos="fade"></div>
              <div class="text order-1">
                <h3> <a target="_blank" class="link-" href="
                  https://hotels.ng/hotel/34752-mayfair-hotels-osun
                  "> Mayfair Hotels   </a></h3>
                <p>Hilton Road, Ife.</p>
                <p class="text-primary h3">₦9,000.00</p> <small>per night</small>
              </div>

            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipPI77BatwVgcXs7CftnBVUOa0TwhTi2g6eFg8qx=w408-h306-k-no');" data-aos="fade"></div>
              <div class="text">
                <h3> <a target="_blank" class="link-" href="
                  https://hotels.ng/hotel/34752-mayfair-hotels-osun
                  "> Hotel De-Treasure    </a></h3>
                <p> Ile-Ife, Osun State.</p>
                <p class="text-primary h3">₦15,000.00</p> <small>per night</small>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section> <!-- .section -->
