<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/National history museum.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100">National History Museum</h1>

        </div>
      </div>
    </div>

  </div>
<!-- END slider -->
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">National History Museum</h3>
        <p class="lead">
          This is called the “Ife Head” or “The Bronze Head from Ife” and it is a very vintage sculpture that was unearthed in 1938 at the Wunmonije Compound in Ile-Ife, Osun state. </p>
        </p>
        <p><img src="images/National history museum.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          In January, 1974, the idea of establishing a Natural History Museum and that which will be a leading natural history museum in the west coast of Africa was taken upon as this was to be an autonomous unit starting with the collection of the then zoology department as a nucleus.
        </p>
        <p>

        But due to the problem of inadequate operational space, the museum was temporarily housed in one of the buildings of the Faculty of Agricultural complex for over thirty years because of the changes in the administration of the university.
        </p>
        <p>
          The museum was officially inaugurated on the 25th February, 2011 and it’s renowned for its striking architecture. The museum’s herbs session has about 20,000 fully identified plants, the bird session has over 5,150 fully identified bird.
        </p>
        <p>

        In addition to all the fascinating things there are over 6,000 archaeological artifacts like the Ife terracotta, Ife glass beads, tobacco pipes, etc. the resources in this museum are timeless and priceless and have been a great resource to local and international researchers. This museum since it’s set up nine years ago has been at the forefront of conservation research in Nigeria.
        </p>
        <p>
          Any tourist that visits these parts and does not come to this museum has not finished touring.
        </p>
        <div class="pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61641742.47630904!2d-72.91577133995735!3d19.442050826332174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103830db9872d181%3A0xfab23fda2a83916c!2sNatural%20History%20Museum.!5e0!3m2!1sen!2sng!4v1580562899009!5m2!1sen!2sng" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p>
            This website was designed by Mbadugha A, a student of Obafemi Awolowo University as a final year project but it serves the purpose of more than a final year project.
          </p>
        <hr>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ife Bronze.</h3>
          <p>
            Any tourist that visits these parts and does not come to this museum has not finished touring.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
