<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/ife-header.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100"> Obafemi Awolowo University.</h1>

        </div>
      </div>
    </div>

  </div>
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">The  Obafemi Awolowo University</h3>
        <p class="lead">
          Of the Greatest Ife! Great
        <p><img src="images/tour3.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          This school undoubtedly is one of the most beautiful schools in the whole of West Africa and that doesn’t even come close to properly capturing the beauty of the school. Being an alumnus of this great university, I know what I am talking about first hand and I can categorically say that the first time I stepped my foot into the school, I was taken aback.
        </p>
        <p>
          It was like being transported from one world to another and I don’t regret being a part of this proud institution one bit.
        </p>
        <p>
          When I was a student, my colleagues would often joke “What is Ile Ife without OAU?” and we would laugh about it. But in reality, it is very very far from a joke because truly, what really is Osun state without OAU?

        </p>
        <p>
          The sight seeing alone that can be done inside the walls of the university can honestly not be completed in a day because not only is the school immensely, inexplicably massive, the structures, paintings, sculptures and arts are enough to captivate even a blind man.
        </p>
        <p>
          This university was previously known as the University of Ife and it was founded in 1961 while classes commenced in 1962.
        </p>
        <p>
        On the 12th of May, 1987, the school’s name was changed to “Obafemi Awolowo University” in honor of Chief Obafemi Awolowo, the first premier of Nigeria whose brain child happened to be the school (this is one child that sure would make its father very happy if he were still alive to see how evolved and matured the school has become).
        </p>

        <p>
      Officially accredited and/or recognized by the National Universities Commission, Nigeria, Obafemi Awolowo University (OAU) is a large coeducational higher education institution. Obafemi Awolowo University (OAU) offers courses and programs leading to officially recognized higher education degrees such as pre-bachelor degrees (i.e. certificates, diplomas, associate or foundation degrees), bachelor degrees, master degrees, doctorate degrees in several areas of study.
    </p>
    <p>
      Obafemi Awolowo University is one of the highest achieving school in West African always coming in the top 5 when ranked amongst the best universities in Africa.
    </p>
    <p>
      There are a lot of beautiful sights to behold and it would be a very interesting journey for anyone who wishes to come here for some sightseeing
    </p>
      <h3 class="mb-4">Obafemi Awolowo University Zoo.</h3>
      <p>
        Although located inside the campus, this zoo in its own is a tourist attraction being the only zoo in Osun state.
      </p>
      <p>
        The zoo is located close to the faculty of Environmental Design Management and it has a lot of exotic animals to offer the tourists like the hyenas, the lions, the snakes and a healthy variety of birds.
      </p>

        <div class="pt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.9013073504116!2d4.555485214185835!3d7.476150013430641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103837613194f1f7%3A0x47916a1ddd0314d4!2sOpa%20Oranmiyan!5e0!3m2!1sen!2sng!4v1580116946054!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p> I really don't know much about you, so I can't come up with anything that should be here. But should incase you have a lot to write, I'll add a read more button below... There you go!</p>
          <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ife Bronze.</h3>
          <p>
            The Ife Head was the symbol for the 1973 All-Africa Games in Lagos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
