<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/Ooni of Ife palace.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100"> The Ooni’s Palace.</h1>

        </div>
      </div>
    </div>

  </div>
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">The Ooni’s Palace</h3>
        <p class="lead">
        What good would a good tour to this western part of the world profit someone who doesn’t visit the king’s palace?
        <p><img src="images/Ooni of Ife palace.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          Your visit to Ile-Ife, Osun state is not complete if you do not visit the magnificent, wonderful palace of the Ooni of Ife. The ooni is also known as Ile Oduduwa, named after the very first king of the entire Yoruba race. The Ooni is the traditional ruler of the city and his palace is a historical monument that houses various antique and important relics.

        </p>
        <p>
        This palace is a very wonderful sight to behold because it is a real antique structure of the ancient Ife as the palace has existed for as far back as 500BC.
        </p>
        <p>
        This palace is not just the place for the king to rest his head, no, it is a great representation if pride, authority, power and wisdom for all the indigenes of the great city of Ile-Ife. Obviously, modern works and crafts will be added to the palace as it also has to evolve with time but a lot of the important traditional and cultural aspects of this palace are still very well preserved. The palace is reverenced s a sacred place and one does not just wander in and out of it with no purpose.
        </p>
        <p>
          The palace is currently occupied by the present Ooni of Ife, Oba Enitan Adeyeye Ogunwusi, Ojaja II who ascended the throne about two years ago. Any tourist who wishes to can pay homage to the lovely king and will be welcomed with open arms, but protocols must be adhered to. The palace is located around Enuwa area in Ile-Ife city.
        </p>

        <div class="pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.846442897655!2d4.558077914185897!3d7.482202913352593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1038375fa9bfffff%3A0x435ee9afad6427fd!2sOoni%20of%20Ife&#39;s%20Palace!5e0!3m2!1sen!2sng!4v1580563139095!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p> This website was designed by Mbadugha A, a student of Obafemi Awolowo University as a final year project but it serves the purpose of more than a final year project.
</p><hr>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ooni's Palace.</h3>
          <p>
            The palace is currently occupied by the present Ooni of Ife, Oba Enitan Adeyeye Ogunwusi, Ojaja II who ascended the throne about two years ago.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
