<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/oran.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100">The Oranmiyan Staff</h1>

        </div>
      </div>
    </div>

  </div>
<!-- END slider -->
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">The Oranmiyan Staff.</h3>
        <p class="lead">
          Yoruba culture and history are one of the most interesting one can hope to come across in the world. It is filled with rich tales and stories.
        </p>
        <p><img src="images/opa_oramiyan.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          The staff of Oranmiyan is one of the most interesting pieces in the Yoruba land. It is believed that this staff belonged to the grandson of Oduduwa who was said to always take the staff to war each time and was always victorious.  Oduduwa himself was believed to have descended from heaven and was placed in Ile-Ife, Osun State by God himself. Yoruba history is not complete without a reference to Oranmiyan. Chief Ereyinmi Eredunmi, the Owa Eredumi of Ile-Ife is the direct custodian of the Oranmiyan staff. He said the staff is as old as Ile-Ife. He also informed that the Oranmiyan staff is held in trust for the Ooni of Ife by the Eredunmi family of Ile-Ife.
        </p>
        <p>
          The staff known as “Opa Oranmiyan” is a slim, carved granite column and it is 5.5 meters (18 feet) in height. It is notably shaped like the tusk of an elephant and its body is decorated with 123 nails arranged in such a way that it kind of represents a symbol associated with Neptune, the god of the seas. This staff is believed to possess great powers and it is believed to be the link between the living and the dead.
        </p>
      <p>
        The staff is located directly inside the Oranmiyan Shrine in Moopa in the Aribidi end of the Ile-Ife City and it is one of the most interesting and reverenced tourist sites in the city.
      </p>
        <div class="pt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.9013073504116!2d4.555485214185835!3d7.476150013430641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103837613194f1f7%3A0x47916a1ddd0314d4!2sOpa%20Oranmiyan!5e0!3m2!1sen!2sng!4v1580116946054!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p>
            This website was designed by Mbadugha A, a student of Obafemi Awolowo University as a final year project but it serves the purpose of more than a final year project.
          </p>
          <!-- <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p> -->
          <hr>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Oranmiyan Staff.</h3>
          <p>
            The history of Opa Oranmiyan and oral traditions of the Yorubas state that Oranmiyan Staff was constructed by the family of Oranmiyan Omoluabi Odede the Great Prince of Ife and King of the Yorubas as a commemorative monument at the place where he died. This was to be around the year 1300.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
