<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/ife-header.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100"> Ile Ife Grand Resorts and Leisure</h1>

        </div>
      </div>
    </div>

  </div>
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">The Ile Ife Grand Resorts and Leisure.</h3>
        <p class="lead">
          This place speaks of class, finesse and comfort at their finest. And as their slogan says, it really is the perfect setting to enjoy, relax and dream.
        <p><img src="images/tour3.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
          The truth is that the name “resort” does not do justice to the pricelessness and beauty of this place. This resort is proof that when modernity comes in a setting that is always strictly rural, the result is astounding.
        </p>
        <p>
          This resort is located along the Ife-Ibadan expressway, quite close to Oduduwa University. This resort was built by the classy, current Ooni of Ife, Oba Adeyeye Enitan Ogunwusi and it boasts of approximately 300 luxuriously furnished rooms. The resort is built for comfort and comfort is what every tourist who steps foot into the building shall get. Quite an organized place, the resort is divided into various parts like the Arrival and Reception area, the Bar area, the African village area which consists of a number of African huts with thatched roofs, the presidential suites, the sporting arena and so many other places.
        </p>
        <p>
        Not only do you find a place to lay your head in this facility, but the sight seeing that can be done can render one speechless. The resort is so big that it has streets inside of it and the cleverest part is that these streets are named after very popular Yoruba towns like Isale Eko, Ogun, Ogbomosho etc.
        </p>
        <p>
          This resort is truly worth seeing and spending some quality time in.
        </p>

        <div class="pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63293.90766624834!2d4.489921693085682!3d7.479689621099212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103836d3d8cfd0f5%3A0xbf24b8a48b077f5f!2sIfe%20Grand%20Resorts%20%26%20Leisure!5e0!3m2!1sen!2sng!4v1580563320339!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p> I really don't know much about you, so I can't come up with anything that should be here. But should incase you have a lot to write, I'll add a read more button below... There you go!</p>
          <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ife Bronze.</h3>
          <p>
            This resort is truly worth seeing and spending some quality time in.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
