
<div class="err-bg text-center">
  <h1 class="text-white text-center err-mgggg"> THANK YOU </h1>
  <h2 class="text-white text-center "> WE PROMISE TO GET BACK TO YOU WITHIN THE NEXT 24 HOURS</h2>
  <a href="/"  class="  btn btn-primary"> GO HOME </a>

  <!-- <h2>{{error.status}}</h2> -->

</div>


<!-- <pre>{{error.stack}}</pre> -->
