<div class="slider-wrap">
  <div class="slider-item" style="background-image: url('images/ife-header.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <p class="mb-2" data-aos="fade-up"> Posted by <a href="#">Sisi Tonia</a></p>
          <h1 data-aos="fade-up" data-aos-delay="100"> Erin Ijesha Waterfall.</h1>

        </div>
      </div>
    </div>

  </div>
</div>



<section class="section pt-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-content">
        <h3 class="mb-4">Erin Ijesha Waterfall</h3>
        <p class="lead">
        Although not located in Ile-Ife city, it would be a complete loss for anyone to come to these parts and not visit this waterfall.
        <p><img src="images/tour3.jpg" alt="Image" class="img-fluid rounded"></p>
        <p>
        It is located in Ijesha, a town that is just 40 minutes away from Ile-Ife and is also located in Osun state.
        </p>
        <p>
This waterfall is a must see because truthfully, it is a sight to behold. It is one of the most magnificent natural sites one can ever hope to see as it is a seven-level waterfall! Yes, seven whole waterfalls that are arranged on top of each other. Just imagine how magnificent a site that would be. They look like seven humongous stairs with plenty water gushing from the upstairs and it’s more beautiful because of the ever green pastures everywhere. Each step of the waterfall has a flowing fountain that looks like the type of pictures seen in the dream.
        </p>
        <p>
      The natural view from the top of this mountain is as breathtaking as it is awe inspiring. The seventh fall is also a place of habitation for ancient inhabitants that have lived in the land for a number of years.
        </p>
        <p>
        How amazing!
        </p>

        <div class="pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.089726853573!2d4.90000091418624!3d7.565196112276695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10380fe691bc505d%3A0x504dce56508e737b!2sErin%20Ijesha%20Waterfall!5e0!3m2!1sen!2sng!4v1580563358853!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

      </div>
      <div class="col-lg-4 sidebar pl-lg-5">

        <div class="sidebar-box">
          <img src="img/author.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
          <h3>About The Author</h3>
          <p> I really don't know much about you, so I can't come up with anything that should be here. But should incase you have a lot to write, I'll add a read more button below... There you go!</p>
          <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
        </div>



        <div class="sidebar-box">
          <h3>Random Fact about the Ife Bronze.</h3>
          <p>
            How amazing!
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
